{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for league_name, league_code in league_codes.items() %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ league_logos[league_name] }}" class="card-img-top img-fluid" alt="{{ league_name }}" >
                <div class="card-body">
                    <!-- <h5 class="card-title">{{ league_name.replace('-', ' ').title() }}</h5> -->
                    <p class="card-text">View the standings and top players of the {{ league_name.replace('-', ' ').title() }}.</p>
                    <a href="{{ url_for('league', league_name=league_name) }}" class="btn btn-primary">View League</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <i class="bi bi-trophy" style="font-size: 5rem; display: block; text-align: center; margin-top: 20px;"></i>
                <div class="card-body">
                    <h5 class="card-title">Top Scorers</h5>
                    <p class="card-text">View the top scorers across all leagues.</p>
                    <a href="{{ url_for('top_scorer') }}" class="btn btn-primary">View Top Scorers</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <i class="bi bi-stars" style="font-size: 5rem; display: block; text-align: center; margin-top: 20px;"></i>                
                <div class="card-body mb-4" >
                    <h5 class="card-title">Top Assists</h5>
                    <p class="card-text">View the top assists across all leagues.</p>
                    <a href="{{ url_for('top_assists') }}" class="btn btn-primary">View Top Assists</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}