<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top 5 European Leagues Standings</title>
</head>
<body>
    <h1>Top 5 European Leagues Standings</h1>
    <ul>
        <li><a href="{{ url_for('league', league_name='premier-league') }}">Premier League</a></li>
        <li><a href="{{ url_for('league', league_name='la-liga') }}">La Liga</a></li>
        <li><a href="{{ url_for('league', league_name='serie-a') }}">Serie A</a></li>
        <li><a href="{{ url_for('league', league_name='bundesliga') }}">Bundesliga</a></li>
        <li><a href="{{ url_for('league', league_name='ligue-1') }}">Ligue 1</a></li>
    </ul>
    <a href="{{ url_for('top_scorer') }}">Top Scorers</a>
</body>
</html>