
{% extends "base.html" %}

{% block title %}Top Scorer 2023{% endblock %}

{% block content %}
<div><!-- Add this form somewhere in base.html or the specific template -->
    <form action="{{ request.path }}" method="get" class="mb-4 form-select">
        <div class="form-group">
            <label for="year">Select Year:</label>
            <select id="year" name="year" class="form-control">
                {% for y in range(2013, 2024) %}
                <option value="{{ y }}" {% if y == year|int %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form></div>
<div class="container mt-4">
    <h1 class="mb-4" >Top Scorers</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Goals</th>
        </tr>
    </thead>
    <tbody>
        {% for scorer in top_scorers %}
       
        <tr>
            <div></div>

            <td>
                <div>
                <img src="{{ scorer['player']['photo'] }}" alt="Player Image" width="30">{{ scorer['player']['name'] }}
            </div>
            </td>

            <td>
                <div>
                <img src="{{ scorer['statistics'][0]['team']['logo'] }}" alt="Team Emblem" width="30">{{ scorer['statistics'][0]['team']['name'] }}
            </div>
            </td>
            <td>{{ scorer['statistics'][0]['goals']['total'] }}</td>
        </tr>
    </tbody>
        {% endfor %}
    </table>
</div>
    <a href="{{ url_for('index') }}">Back to Home</a>
</div>
{% endblock %}