
{% extends "base.html" %}

{% block title %}Top Scorer 2023{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4" >Top Scorers</h1>
    <div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Goals</th>
        </tr>
    </thead>
    <tbody>
        {% for scorer in top_scorers %}
       
        <tr>
            <div></div>

            <td>
                <div>
                <img src="{{ scorer['player']['photo'] }}" alt="Player Image" width="30">{{ scorer['player']['name'] }}
            </div>
            </td>

            <td>
                <div>
                <img src="{{ scorer['statistics'][0]['team']['logo'] }}" alt="Team Emblem" width="30">{{ scorer['statistics'][0]['team']['name'] }}
            </div>
            </td>
            <td>{{ scorer['statistics'][0]['goals']['total'] }}</td>
        </tr>
    </tbody>
        {% endfor %}
    </table>
</div>
    <a href="{{ url_for('index') }}">Back to Home</a>
</div>
{% endblock %}