{% extends "base.html" %}

{% block title %}Top Assists{% endblock %}

{% block content %}
<div><!-- Add this form somewhere in base.html or the specific template -->
    <form action="{{ request.path }}" method="get" class="mb-4 form-select">
        <div class="form-group">
            <label for="year">Select Year:</label>
            <select id="year" name="year" class="form-control">
                {% for y in range(2013, 2024) %}
                <option value="{{ y }}" {% if y == year|int %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form></div>
<div class="container mt-4">
    <h1 class="mb-4">Top Assists</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>Team</th>
                    <th>Assists</th>
                </tr>
            </thead>
            <tbody>
                {% for assist in assists_list %}
                <tr>
                    <td>
                        <div >
                            <img src="{{ assist['player']['photo'] }}" alt="Player Photo" width="30" >
                            {{ assist['player']['name'] }}
                        </div>
                    </td>
                    <td>
                        <div>
                            <img src="{{ assist['statistics'][0]['team']['logo'] }}" alt="Team Logo" width="30">                           
                             {{ assist['statistics'][0]['team']['name'] }}

                        </div>
                    </td>
                    <div><td>{{ assist['statistics'][0]['goals']['assists'] }}</td></div>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('index') }}" class="btn btn-primary">Back to Home</a>
</div>
{% endblock %}